<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
rel="stylesheet">
  </head>
  <body>
    <h1> Noticias </h1>
    <p>Leia mais sobre:</p>

    <div class="container">
    <div class="noticia1">
    <a href="noticias/01">Cancelamento de Anne with an e</a>
    <br />
    <img src="/images/Anne.jpg">
    <p>No fim, o cancelamento de Anne with an E aconteceu por conta da falta de audiência. Segundo a executiva Sally Catto, da CBC, os números de audiência da série não conseguiram atingir o público entre 25 e 54 anos da forma como o canal e a Netflix desejavam, o que acabou prejudicando a continuidade da série.</p>
    </div>
    </div>
    
    <% let nome = "Aluna: Wellen da Cunha Pereira" %>
    <%= nome %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>